﻿@model SistemaRH.Models.Funcionario

@{
    ViewData["Title"] = "Delete";
    
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Funcionario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAdmissao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAdmissao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
    @if (ViewData.ModelState.ErrorCount > 0)
    {
        foreach (var modelState in ViewData.ModelState.Values)
        {
            foreach(var error in modelState.Errors)
            {
                <span class="badge bg-danger">
                    @error.ErrorMessage
                </span>
            }
        }
    }
</div>
