﻿@model SistemaRH.Models.FuncionarioSalario

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FuncionarioSalario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select class="form-control" asp-for="IdFuncionario" asp-items="@ViewBag.Funcionarios"></select>
            </div>
            <div class="form-group">
                <label asp-for="Salario" class="control-label"></label>
                <input asp-for="Salario" type="number" class="form-control" />
                <span asp-validation-for="Salario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VigenteEm" class="control-label"></label>
                <input asp-for="VigenteEm" type="date" class="form-control" />
                <span asp-validation-for="VigenteEm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
